<<<<<<< Updated upstream
.card-container {
    border-radius: 25px;
    width: 250px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    text-align: center;
    background-color: lightskyblue;
}

.image-container img {
    overflow: hidden;
    height: 200px;
=======
.card-container{
   border-radius: 25px;
   width: 350px;
   overflow: hidden;
   box-shadow: 0px 0px 15px -5px;
   background-color: white;
   text-align: center;
}

.image-container img{
   overflow: hidden;
   height: 220px;
>>>>>>> Stashed changes
}